.block {
	display: block !important;
}

.demo {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 20px);
	margin: 0 5px 20px;
}

a {
	color: #3F51B5;
}

body, html {
	height: 100%;
	color: rgba(0,0,0,.87);
	background: white;
	position: relative;
	font-family: 'Roboto', 'Noto', sans-serif;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	line-height: 1.4;
}

body {
	overflow-x: hidden;
	max-width: 100%;
	max-height: 100%;
}

header {
	position: relative;
	height: 220px;
	text-align: center;
	background-color: #3F51B5;
}

header h1 {
	line-height: 60px;
	font-size: 36px;
	padding: 0 10px;
	padding-top: 35px;
	margin: 0 auto;
	width: 100%;
	color: white;
}

main {
	position: static;
}

main > div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

main > div > section {
	margin: 140px auto 40px;
	background: white;
	max-width: 800px;
	padding: 10px 18px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 1px 5px 0 rgba(0, 0, 0, 0.12),0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

main h2 {
	font-size: 20px;
}

footer {
	max-width: 800px;
	margin: 0 auto 40px;
	text-align: center;
}

footer h3 {
	font-size: 20px;
	margin: 0 auto 5px
}

footer ul {
	text-align: left;
	margin: 0 auto;
	font-size: 18px;
	line-height: 30px;
}

footer li {
	width: calc(33% - 20px);
	display: inline-block;
	margin: 0 5px;
}

footer p {
	margin: 80px auto 0;
	font-size: 16px;
}

@media screen and (max-width: 687px) {
	header h1 {
		font-size: 28px;
		padding-left: 0;
		padding-right: 0;
		line-height: 34px;
	}

	main > div > section {
		width: 95%;
		padding: 0;
	}

	.demo {
		padding: 5px 18px 10px;
		margin: 0;
	}

	.demo,
	footer li {
		display: block;
		width: 100%;
	}

	footer ul {
		padding: 0;
	}

	footer li {
		padding: 3px 20px;
	}

	footer p {
		margin-top: 40px;
	}
}
